html {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  position: absolute;
  width: 680px;
  display: flex;
  align-items: center;
}

header > img {
width: 172px;
height: 172px;
}

.contacts-list {
  list-style: none;
}

.person {
  align-items: center;
}
