body {
  margin: 0;
  font-family: verdana;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  background-color: #EFEFEF;
  margin-bottom: 1rem;
  position: absolute;
}
#content {
  background-color: #FFFFFF;
  padding: 1rem;
  width: 50%;
  border: solid 1px black;
  margin: 0 auto;
}

section > img {
  border: solid 1px black;
  width: 200px;
  height: 200px;
  border-radius: 100px;}

h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  margin-bottom: 1rem;
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;

}

.person {
  align-items: center;
  margin-bottom: 1rem;

}

.project {
  background-color: #EFEFEF;
  padding: 1rem;
  margin-bottom: 1rem;
}

main img {
  width: 90%;
  margin: 0 5%;
}
